<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="pseudo">Pseudo</label>
        <input id="pseudo" type="text" name="pseudo">
        <label for="motDePasse"></label>
        <input id="motDePasse" type="password" name="motDePasse">
        <button type="submit">connexion</button>
    </form>
</body>
</html>